.btn{
    background-color: $nickel;
    color: $white;
    border-radius: 3em;
    padding: .7em 1em;
    border:none;
    &:hover{
        background-color: $light-gray;
        color: $white;
    }

}