.navbar{
    background-color: $eerie-black;  
    &__logo{
        max-width: 120px;
    }
    &__link{
        color: $white;
        &--active{
            color: $spanish-pink;
        }
    }
}

